CometClient.xcodeproj/xcuserdata/ginvan.xcuserdatad/xcschemes/CometClient.xcscheme
CometClient.xcodeproj/xcuserdata/ginvan.xcuserdatad/xcschemes/xcschememanagement.plist
CometClient.xcworkspace/xcuserdata/ginvan.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/ginvan.xcuserdatad/xcschemes/Pods-AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ginvan.xcuserdatad/xcschemes/Pods-SBJson.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ginvan.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ginvan.xcuserdatad/xcschemes/xcschememanagement.plist
